In [23]:
ls

Module_4_Homework.ipynb  Pipfile       lin_reg.bin
Module_4_Homework.py     Pipfile.lock  output_file

In [1]:
!pip freeze | grep scikit-learn

scikit-learn==1.5.0

In [2]:
!python -V

Python 3.9.12

In [3]:
import pickle
import pandas as pd

In [5]:
with open('lin_reg.bin', 'rb') as f_in:
    dv, model = pickle.load(f_in)

In [6]:
categorical = ['PULocationID', 'DOLocationID']

def read_data(filename):
    df = pd.read_parquet(filename)
    
    df['duration'] = df.tpep_dropoff_datetime - df.tpep_pickup_datetime
    df['duration'] = df.duration.dt.total_seconds() / 60

    df = df[(df.duration >= 1) & (df.duration <= 60)].copy()

    df[categorical] = df[categorical].fillna(-1).astype('int').astype('str')
    
    return df

In [7]:
df = read_data('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-03.parquet')
df.head(2)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,duration
0,2,2023-03-01 00:06:43,2023-03-01 00:16:43,1.0,0.0,1.0,N,238,42,2,8.6,1.0,0.5,0.00,0.0,1.0,11.10,0.0,0.00,10.000000
1,2,2023-03-01 00:08:25,2023-03-01 00:39:30,2.0,12.4,1.0,N,138,231,1,52.7,6.0,0.5,12.54,0.0,1.0,76.49,2.5,1.25,31.083333

In [8]:
dicts = df[categorical].to_dict(orient='records')
X_val = dv.transform(dicts)
y_pred = model.predict(X_val)

## QUESTION 1

In [9]:
y_pred.std()

4.263256414560601e-14

In [ ]:
QUESTION 1 ---- Answer: 6.24

In [13]:
df['ride_id'] = f'{2023:04d}/{3:02d}_' + df.index.astype('str')

In [14]:
df['Prediction'] = y_pred

In [15]:
df.head(2)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,duration,ride_id,Prediction
0,2,2023-03-01 00:06:43,2023-03-01 00:16:43,1.0,0.0,1.0,N,238,42,2,...,0.5,0.00,0.0,1.0,11.10,0.0,0.00,10.000000,2023/03_0,26.437578
1,2,2023-03-01 00:08:25,2023-03-01 00:39:30,2.0,12.4,1.0,N,138,231,1,...,0.5,12.54,0.0,1.0,76.49,2.5,1.25,31.083333,2023/03_1,26.437578

In [20]:
df_result = df[["ride_id", "Prediction"]]
df_result.head(2)

     ride_id  Prediction
0  2023/03_0   26.437578
1  2023/03_1   26.437578

In [22]:
df_result.to_parquet(
    "output_file",
    engine='pyarrow',
    compression=None,
    index=False
)

In [ ]:
QUESTION 2 --- Answer: 66

In [ ]:
QUESTION 3 ----- Answer: jupyter nbconvert --to script Module_4_Homework.ipynb

In [ ]:
QUESTION 4 ---- Answer: "sha256:057b991ac64b3e75c9c04b5f9395eaf19a6179244c089afdebaad98264bff37c"

## QUESTION 5

In [1]:
!python Module_4_Homework.py

/home/kabiromohd/.local/share/virtualenvs/module_4-xKVi3PUm/lib/python3.9/site-packages/sklearn/base.py:376: InconsistentVersionWarning: Trying to unpickle estimator DictVectorizer from version 1.0.2 when using version 1.5.0. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
/home/kabiromohd/.local/share/virtualenvs/module_4-xKVi3PUm/lib/python3.9/site-packages/sklearn/base.py:376: InconsistentVersionWarning: Trying to unpickle estimator LinearRegression from version 1.0.2 when using version 1.5.0. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
Mean Prediction:  26.437578415570222

In [ ]:
QUESTION 5 ----- Answer: 28.29